<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Dev</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/Base64/1.0.1/base64.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.6/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/moment.js/2.18.1/moment.min.js"></script>
    <style>html {font-size: 14px}

    .divider {clear: both;overflow: hidden;margin: 1rem auto;height: 0}

    .divider-dashed {border-top: 1px dashed #ccc}

    .monospace {font-family: monospace}

    .inline-flex {display: inline-flex !important}

    .ws-alert {position: absolute;top: 2px;right: 0;left: 0;z-index: 65535;margin: auto;max-width: 550px;text-align: center}

    .slide-fade-enter-active {transition: all .3s ease}

    .slide-fade-leave-active {transition: all .8s cubic-bezier(1, .5, .8, 1)}

    .slide-fade-enter, .slide-fade-leave-to {opacity: 0;transform: translateX(10px)}

    ::-webkit-scrollbar-track-piece {background-color: #f8f8f8}

    ::-webkit-scrollbar {width: 9px;height: 9px}

    ::-webkit-scrollbar-thumb {min-height: 28px;background-color: #ddd;background-clip: padding-box}

    ::-webkit-scrollbar-thumb:hover {background-color: #bbb}

    .message-box {max-height: calc(100vh - 180px)}

    .console-box, .message-box {display: block;overflow: auto}

    .console-box {max-height: calc(100vh - 670px)}</style>
</head>
<body>
<div id="root">
    <!-- 警告框 -->
    <template>
        <transition name="slide-fade">
            <div class="alert ws-alert" :class=" 'alert-' + alert.class " v-if="alert.state">
                {{alert.content}}
            </div>
        </transition>
    </template>
    <!-- 头部导航 -->
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand monospace" href="javascript:void(0)">WEBSOCKET CLIENT</a>
        </div>
    </nav>
    <!-- 主内容区 -->
    <template>
        <div class="container mt-3">
            <div class="row monospace">
                <!-- 链接管理面板 -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <!-- 左侧面板 -->
                                <div class="col-sm-12 col-md-6">
                                    <!-- 服务器地址 -->
                                    <div class="col-sm-12">
                                        <h4 class="card-title">服务器配置</h4>
                                        <hr class="divider divider-dashed">
                                        <div class="card-text">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">连接到</div>
                                                </div>
                                                <div class="input-group-prepend">
                                                    <select class="custom-select" v-model='link.secure' title="">
                                                        <option value="ws://">WS://</option>
                                                        <option value="wss://">WSS://</option>
                                                    </select>
                                                </div>
                                                <input type="text" class="form-control" placeholder="输入不带前缀的服务器地址" v-model="link.address">
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-sm-6">
                                                    <button type="button" class="btn btn-block btn-success" @click="createWsConnect">打开连接</button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" class="btn btn-block btn-danger">关闭连接</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 自动心跳包设置 -->
                                    <div class="col-sm-12 mt-3">
                                        <h4 class="card-title">心跳包设置</h4>
                                        <hr class="divider divider-dashed">
                                        <div class="card-text">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">间隔时间</span>
                                                        </div>
                                                        <input title="" type="text" class="form-control text-center" v-model="beatS">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">秒</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">心跳内容</span>
                                                        </div>
                                                        <input title="" type="text" class="form-control" v-model="beatC">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="button" class="btn btn-block btn-primary" @click="autoPING" v-if="!autoSend">开启自动心跳</button>
                                                    <button type="button" class="btn btn-block btn-danger" @click="cleanPING" v-if="autoSend">关闭自动心跳</button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" class="btn btn-block btn-info" @click="sendPING">立刻发送心跳</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-3">
                                        <h4 class="card-title">消息发送</h4>
                                        <hr class="divider divider-dashed">
                                        <fieldset class="form-group mb-2">
                                            <textarea class="form-control mt-1" id="exampleTextarea" rows="2" placeholder="待发消息内容" v-model="sendArea"></textarea>
                                            <div class="custom-control custom-checkbox inline-flex mt-2">
                                                <input type="checkbox" class="custom-control-input" id="GZIP">
                                                <label class="custom-control-label" for="GZIP">GZIP COMPRESS</label>
                                            </div>
                                            <div class="custom-control custom-checkbox inline-flex mt-2">
                                                <input type="checkbox" class="custom-control-input" id="SendClean" v-model="SendClean">
                                                <label class="custom-control-label" for="SendClean">发送自动清空输入内容</label>
                                            </div>
                                            <div class="custom-control custom-checkbox inline-flex mt-2">
                                                <input type="checkbox" class="custom-control-input" id="RecvClean" v-model="RecvClean">
                                                <label class="custom-control-label" for="RecvClean">收到自动清空消息记录</label>
                                            </div>
                                        </fieldset>
                                        <div>
                                            <button class="btn btn-primary" @click="sendData">发送消息</button>
                                            <button class="btn btn-primary" @click="uriEncode">URL</button>
                                            <button class="btn btn-primary" @click="strToHexCharCode">HEX</button>
                                            <button class="btn btn-primary" @click="strToBinary">BINARY</button>
                                            <button class="btn btn-primary" @click="strToBase64">BASE64</button>
                                            <button class="btn btn-primary">压缩空格和换行</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mt-3">
                                        <h4 class="card-title">控制台日志</h4>
                                        <hr class="divider divider-dashed">
                                        <div class="card-title console-box" id="console-box">
                                            <div class="mb-2" v-for="item in consoleData">
                                                <strong :class="'text-'+item.type">{{item.time}} => </strong> <span>{{item.content}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 右侧面板 -->
                                <div class="col-sm-12 col-md-6">
                                    <!-- 消息记录 -->
                                    <div class="col-sm-12">
                                        <h4 class="card-title">消息记录</h4>
                                        <hr class="divider divider-dashed">
                                        <div class="card-text message-box" id="message-box">
                                            <template v-for="item in messageData">
                                                <div class="mb-4" :class="{ 'text-right' : item.direction , 'text-left' : !item.direction }">
                                                    <strong><span :class="{'text-success' : item.direction , 'text-primary' : !item.direction}">{{item.direction ? '发送' : '收到'}}消息</span> {{item.time}}</strong>
                                                    <div class="monospace">{{item.content}}</div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
<!-- 脚本 -->
<script>
    "use strict";

    var Vm = new Vue({
        el: "#root",
        data: {
            consoleData: [], // 控制台日志
            messageData: [], // 消息记录
            instance: WebSocket, // ws instance
            link: {
                secure: "ws://", // wss
                address: '127.0.0.1:9501' // 链接地址
            },
            alert: {
                class: 'success',
                state: false,
                content: '',
                timer: undefined
            },
            sendArea: '',
            beatS: 1,
            beatC: 'PING',
            autoSend: false,
            autoTimer: undefined,
            SendClean: false,
            RecvClean: false
        },
        created: function created () {
            this.addConsoleLine('success', '初始化成功 等待连接到服务器...');
        },

        methods: {
            /**
             * 添加控制台日志记录
             * @param type 可选 任意 Bootstrap 颜色
             * @param content 日志内容
             */
            addConsoleLine: function addConsoleLine (type, content) {
                this.consoleData.push({
                    content: content,
                    type: type,
                    time: moment().format('YYYY-MM-DD HH:mm:ss')
                });
                this.scrollOver(document.getElementById('console-box'));
            },
            /**
             * 添加消息记录
             * @param direction 0 收到消息 1 发送消息
             * @param content 消息内容
             */
            addMessage: function addMessage (direction, content) {
                this.messageData.push({
                    direction: direction,
                    content: content,
                    time: moment().format('YYYY-MM-DD HH:mm:ss')
                });
            },
            /**
             * 同时显示控制台和弹出消息
             * @param content 需要显示的消息
             * @param status 消息状态
             */
            showStatus: function showStatus (content, status) {
                this.showTips(content, status);
                this.addConsoleLine(status, content);
            },
            /**
             * 显示提示消息
             * @param content 消息内容
             * @param className 消息样式名称 可选 任意 Bootstrap 颜色
             */
            showTips: function showTips (content, className) {
                clearTimeout(this.alert.timer);
                this.alert.state   = false;
                this.alert.class   = className;
                this.alert.content = content;

                this.alert.state = true;
                this.alert.timer = setTimeout(function () {
                    Vm.alert.state = false;
                }, 3000);
            },
            /**
             * 创建 WebSocket 连接对象
             */
            createWsConnect: function createWsConnect () {
                try {
                    var wsInstance       = new WebSocket(this.link.secure + this.link.address);
                    wsInstance.onopen    = function () {
                        Vm.showStatus('连接到服务器成功', 'success');
                    };
                    wsInstance.onerror   = function () {
                        Vm.showStatus('连接到 WebSocket 服务器失败', 'danger');
                    };
                    wsInstance.onclose   = function (ev) {
                        Vm.showStatus('连接已关闭 ' + ev.code + ev.reason, 'warning');
                    };
                    wsInstance.onmessage = function (ev) {
                        if (Vm.RecvClean) Vm.messageData = [];
                        Vm.addMessage(0, ev.data);
                        Vm.scrollOver(document.getElementById('message-box'));
                    };
                    this.instance        = wsInstance;
                } catch (err) {
                    this.showStatus('创建 WebSocket 对象失败 请检查服务器地址', 'danger');
                }
            },
            /**
             * 向服务器发送消息
             */
            sendData: function sendData () {
                try {
                    this.instance.send(this.sendArea);
                    this.addMessage(1, this.sendArea);
                    if (this.SendClean) this.sendArea = '';
                } catch (err) {
                    this.showStatus('消息发送失败 原因请查看控制台', 'danger');
                    throw err;
                }
            },
            /**
             * URL 编码
             */
            uriEncode: function uriEncode () {
                this.sendArea = encodeURIComponent(this.sendArea);
            },
            /**
             * 转为 16 进制
             */
            strToHexCharCode: function strToHexCharCode () {
                if (this.sendArea === "") return;
                var hexCharCode = [];
                for (var i = 0; i < this.sendArea.length; i++) {
                    hexCharCode.push(this.sendArea.charCodeAt(i).toString(16));
                }
                this.sendArea = hexCharCode.join("");
            },
            /**
             * 转为 二进制
             */
            strToBinary: function strToBinary () {
                var temp = '';
                for (var i = 0; i < this.sendArea.length; i++) {
                    temp += this.sendArea.charCodeAt(i).toString(2);
                }
                this.sendArea = temp;
            },
            /**
             * 转为 Base64
             */
            strToBase64: function strToBase64 () {
                this.sendArea = btoa(this.sendArea);
            },
            /**
             * 发送心跳包
             */
            sendPING: function sendPING () {
                try {
                    this.addConsoleLine('primary', '心跳发送 ' + this.beatC);
                    this.instance.send(this.beatC);
                } catch (err) {
                    this.showStatus('心跳发送失败 原因请查看控制台', 'danger');
                    throw err;
                }
            },
            /**
             * 自动心跳
             */
            autoPING: function autoPING () {
                this.autoSend  = true;
                this.autoTimer = setInterval(function () {
                    Vm.sendPING();
                }, this.beatS * 1000);
            },
            /**
             * 关闭自动心跳
             */
            cleanPING: function cleanPING () {
                this.autoSend = false;
                clearInterval(this.autoTimer);
            },
            /**
             * 滚动到最底
             * @param e
             */
            scrollOver: function scrollOver (e) {
                if (e) {
                    e.scrollTop = e.scrollHeight
                }
            }
        }
    });
</script>
</body>
</html>